In [2]:
#question 1-program


ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24] #-- taking the list
ages.sort()                                     #-- sorting
print("sorted List:", ages)                     
ages.append(min(ages)), ages.append(max(ages))  #-- appending the min and max ages of list again
print("After adding min and max age to the sorted List:",ages)
def medianFunction(data):                       #-- defining a function for getting median based on odd/even lengths of the given lenght
    med = len(data) // 2
    if not len(data) % 2:
        return (data[med - 1] + data[med]) / 2.0
    return data[med]
print("median age:", medianFunction(ages))
avg = 0 
for int in ages:                                #-- loop for iterating through list to calculate the lenght on the given list
    avg = avg+int
print("Average age is =",avg/len(ages))         #-- printing average of the list
print("Range of ages=", (max(ages)-min(ages)))  #-- printing range of the list items

sorted List: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
After adding min and max age to the sorted List: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median age: 24.0
Average age is = 22.75
Range of ages= 7

In [3]:
#question 2-program

dog=dict()                                                                              #---Creating an empty dictionary dog                         
dog={"Name":"","Color":"","Breed":"","Legs":"","Age":""}                                #---adding given items as keys and empty values to dictionary
student_Dict={"first_name":"Panindra_Kumar","last_name":"Gadila",                       #---Creating an student dictionary   
"gender":"male","age":25,"maritial_status":"single","skills":["c++","python"],
"country":"india","city":"Mumbai","address":"4800 W 108th St 1035 Apt"}
print("getting Length of the student dict",len(student_Dict))                           #---length of the student dictionary 
print("student skills",student_Dict["skills"], "& the type of the Skills list is",type(student_Dict["skills"]))  #---Values in skills and its type of data
student_Dict["skills"]=student_Dict["skills"]+["Assembly","bash_scripting"]             #---Modifying the skills values
kList = list(student_Dict.keys())                                                       #---dictionary keys as a list
kList = list(student_Dict.keys())                                                       #---dictionary values as a list
print(kList)
print("values",list(student_Dict.values()))

getting Length of the student dict 9
student skills ['c++', 'python'] & the type of the Skills list is <class 'list'>
['first_name', 'last_name', 'gender', 'age', 'maritial_status', 'skills', 'country', 'city', 'address']
values ['Panindra_Kumar', 'Gadila', 'male', 25, 'single', ['c++', 'python', 'Assembly', 'bash_scripting'], 'india', 'Mumbai', '4800 W 108th St 1035 Apt']

In [4]:
#question 3-Program

brothers=("ImgBroOne","ImgBroTwo","ImgBroThree","ImgBroFour")                                 #---Brothers tuple
sisters=("ImgSisOne","ImgSisTwo")                                                             #---Sisters tuple
siblings=brothers+sisters                                                                     #---Siblings tuple copy by adding
print("my siblings are ",siblings)                                                     
print("I have ",len(siblings), " siblings")
siblings=siblings+("SudherShan_Reddy","Laxmi_ramreddy")                                       #---Modifying the siblings tuple and setting it to family_members tuple
family_members=siblings
print(family_members)

my siblings are  ('ImgBroOne', 'ImgBroTwo', 'ImgBroThree', 'ImgBroFour', 'ImgSisOne', 'ImgSisTwo')
I have  6  siblings
('ImgBroOne', 'ImgBroTwo', 'ImgBroThree', 'ImgBroFour', 'ImgSisOne', 'ImgSisTwo', 'SudherShan_Reddy', 'Laxmi_ramreddy')

In [5]:
#question 4-Program

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
 
CountIT = len(it_companies)
print("Total IT companies ",CountIT)    #-length of it companies set
it_companies.add("Twitter") #-adding twitter to set
print("Added new Company ",it_companies)
it_companies.update(["Capgemini","Chase","BOK_Fin"])
print("Added multiple companies ",it_companies)
it_companies.remove("BOK_Fin")
print("After removing one values ",it_companies)
#----
# difference between remove and discard ? ----- Ans :remove() method will raise an error if the specified item does not exist, and the discard() method will not.
#----
AB_Joined=A.union(B)
print("A Union B ",AB_Joined)
AB_INtersection=A.intersection(B)

print("A Intersection B ",AB_INtersection)
print("is A is subset of B :",A.issubset(B))
print("is A and B are disjoint sets :",A.isdisjoint(B))
print("the symmetric difference between A and B :",A.symmetric_difference(B))
print("deleting set A and B ", A.clear(), B.clear())
AgeSet=set(age)                    #--converting age list to a set
print("converted age list to set ",AgeSet)
print("Comparing the length of the list and the set by making difference between length of age list and length of age set is ",len(age)-len(AgeSet)) #--comparing lengths of the list and set

Total IT companies  7
Added new Company  {'Facebook', 'Google', 'Twitter', 'IBM', 'Oracle', 'Apple', 'Microsoft', 'Amazon'}
Added multiple companies  {'Chase', 'Capgemini', 'Amazon', 'Facebook', 'Google', 'Twitter', 'Apple', 'Microsoft', 'BOK_Fin', 'Oracle', 'IBM'}
After removing one values  {'Chase', 'Capgemini', 'Amazon', 'Facebook', 'Google', 'Twitter', 'Apple', 'Microsoft', 'Oracle', 'IBM'}
A Union B  {19, 20, 22, 24, 25, 26, 27, 28}
A Intersection B  {19, 20, 22, 24, 25, 26}
is A is subset of B : True
is A and B are disjoint sets : False
the symmetric difference between A and B : {27, 28}
deleting set A and B  None None
converted age list to set  {19, 22, 24, 25, 26}
Comparing the length of the list and the set by making difference between length of age list and length of age set is  3

In [2]:
#question 5-Program

radius=int(input("plz enter the radius"))                                                 #--radius to be entered on run time
print("radius of the circle is:", radius)                           
_area_of_circle_=3.14*(radius**2)                                   #--area formula pi*(r to the power of 2)
_circum_of_circle_=2*3.14*radius                                    #--circumference of given circle calculation formula 2Pi(r^2)
print("Area of Circle ",_area_of_circle_)                           #--printing in to the console
print("Circumference of circle ",_circum_of_circle_)

radius of the circle is: 12
Area of Circle  452.16
Circumference of circle  75.36

In [3]:
#question 6-Program

Sentence_Line="I am a teacher and I love to inspire and teach people"
unique_words=set(Sentence_Line.split())                                             #--Split function by default uses whiteSpaces as the separator in the string sentence
print("No.of unique words are ",len(unique_words))                                  #--printing number of unique word from the given sentence using length function

No.of unique words are  10

In [5]:
#question 7-Program

print("Name\tAge\tCountry\tCity\nGadila\t23\tInida\tMumbai")     #--making use of backwards slash t and n for tab key stroke and next line

Name	Age	Country	City
Gadila	23	Inida	Mumbai

In [6]:
#question 8-Program

radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %s is %s meters square." %(radius,area))    #--Formatting string using % operator

The area of a circle with radius 10 is 314.0 meters square.

In [12]:
#question 9-Program

Students_Lst_Lbs = []                                       # Prompt for users to enter number of elements as input
Prmt = int(input("Enter number of elements : "))
Students_Lst_Kgs= []                                        # iterating till the range
for i in range(0, Prmt):
    Students_Lst_Lbs.append(int(input()))                   # adding the element and appending both at a time
    Students_Lst_Kgs.append(Students_Lst_Lbs[i]*0.453592)   # Converting lbs to kgs abd appending in anther list 
print("Weights list with lbs:", Students_Lst_Lbs)  
print("Weights list with kgs:", Students_Lst_Kgs)                                     #printing to Console

Weights list with lbs: [12, 23]
Weights list with kgs: [5.443104, 10.432616]